*{
    margin: 0%;
}
.html {
    scroll-behavior: smooth;
  }
.home{
    background-image: url(theme11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    height: 100vh;
    margin: 0;
    
}
.navigation{
    align-items: flex-end;
    display: flex;
    width: 90%;
    height: 10%;

    margin: auto;
    justify-content: space-evenly;
}
.line{
    flex: 1;
    right: 0px;
    height: 10vh;
   
}
.line ul{
        
    margin-top: 7vh;
    text-decoration: none;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 25px;
    padding: 0px;
    font-style: inherit;
}
.line ul li{
    font-size: 2vh;
    cursor: pointer;
    font-family: 'Potta One', cursive;
    margin-bottom: 10px;

}
.cool {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.cool:hover::after {
    width: 100%;
    transition: width .3s;
}


.navigation img{
  width: 100px;
  height: 50px;

}
.imgss{
   
    display: flex;
    width: 80%;
    height: 50vh;
    margin: 20vh auto;
    
}
.w3-content{
   
    margin-top:4vh;
    order: 2;
    cursor: pointer;
}
.mySlides{
    border-radius: 03%;
}

.text2{
    cursor: pointer;
    font-size: 2vh;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
    padding: 10px;
}
.fa:hover{
    background-color: #98a6b40c;
    margin-left: 10px;
    transition: all 0.4s;
}




.about{
    margin-top: 10vh;
    width: 100%;
    height: 80vh;
 
}

.container{

border-radius: 50px;
display: flex;
max-width: 80%;
margin: 0 auto;
flex-direction: column;
width: 80%;
height: 100vh;
box-shadow:  2px  blac solid ;

}
.pp{
   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    

}
.pp p{
    font-size: 2vh;
    display: flex;
    text-align: justify;
    margin-top: 10vh;
    width: 40%;
    flex-wrap: wrap;

}
.pp img{
margin-top: 50px;
width: 50vh;
height: 40vh;
border-radius: 03%;


}

.h11{
display: flex;
height: 10vh;

}
.h11 h1{
    margin: auto auto;
    font-size: 5vh;
   
   
}



.comment-section{
    position: absolute;
    list-style: none;
   width: 100vh;
    width: 100%;
    padding: 10px;
   
}

.comment{
    display: flex;
    border-radius: 3px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.comment.user-comment{
    color:  #808080;
}

.comment.author-comment{
    color:  #60686d;
    justify-content: flex-end;
}

/* User and time info */

.comment .info{
    width: 17%;
}

.comment.user-comment .info{
    text-align: right;
}

.comment.author-comment .info{
    order: 3;
}


.comment .info a{	/* User name */
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

.comment .info span{	/* Time */
    font-size: 11px;
    color:  #9ca7af;
}


/* The user avatar */

.comment .avatar{
    width: 8%;
}

.comment.user-comment .avatar{
    padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar{
    order: 2;
    padding: 10px 3px 0 18px;
}

.comment .avatar img{
    display: block;
    border-radius: 50%;
}

.comment.user-comment .avatar img{
    float: right;
}

.comment p{
    line-height: 1.5;
    padding: 18px 22px;
    width: 50%;
    position: relative;
    word-wrap: break-word;
}

.comment.user-comment p{
    background-color:  #f3f3f3;
}

.comment.author-comment p{
    background-color:  #e2f8ff;
    order: 1;
}

.user-comment p:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    left: -8px;
    top: 18px;
}

.author-comment p:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e2f8ff;
    right: -8px;
    top: 18px;
}


.write-new{
    margin: 80px auto 0;
    width: 50%;
}

.write-new textarea{
    color:  #444;
    font: inherit;

    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;
    width:100%;
    min-height: 80px;
    padding: 15px 20px;
}

.write-new img{
    border-radius: 50%;
    margin-top: 15px;
}

.write-new button{
    float:right;
    background-color:  #87bae1;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;

    padding: 10px 25px;
    margin-top: 18px;
}
.contta{
 
    height: 75vh;
    background-color: #EEEEEE;
}
.contact-us{
    width: 100%;
    height: 25vh;
    display: flex;
    background: linear-gradient(129deg, rgba(117,117,117,1) 0%, rgba(199,199,199,1) 100%);
    justify-content:space-evenly;
    padding-top: 50px;
    flex:1;
}
.ingo{
  font-size: 1.3rem;
  font-family:'Potta One', cursive;
  text-transform: uppercase;

}
.ingo h1{
    background: -webkit-radial-gradient(#4c69ff,#c7c7c7);
    -webkit-background-clip: text;-webkit-text-fill-color: transparent;
}

.gmail img{
    width: 100px;
    height: 100px;
}
.copyright{
    width: 100%;
    height:4vh;
background: white;
}
.logo{
    display: flex;
    justify-content: center;
    color:black;
    margin-top: 5px;
  
}
.logo a{
font-style: none;
text-decoration: none;
display: inline-flex;
color: black;
font-size: 1.1rem;
}
.commennns{
    margin-top: 15  vh;
    width: 100%;
    height:30vh;
    display: flex;
   display: flex;
   justify-content: space-evenly;
}
.cm1 img{
    width: 400px;
    margin: 05px;
    box-shadow: #444 10px;
    cursor: pointer;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.cm1:hover img{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.cm2 img{
    width: 400px;
    margin: 05px;
    box-shadow: #444 10px;
    cursor: pointer;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	
}

.cm2:hover img{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.cm3 img{
    width: 400px;
    margin: 05px;
    box-shadow: #444 10px;
    cursor: pointer;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	
}

.cm3:hover img{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.gallery-section{
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
  }
  
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: #333;
  }
  
  .border{
    width: 180px;
    height: 4px;
    background: #333;
    margin: 60px auto;
  }
  
  .gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  
  .gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
  }
  
  .gallery-section .image:hover img{
    transform: scale(1.4) rotate(10deg);
  }

